[glassfish]
HOST_DNS_ADDRESS = "127.0.0.1"
GLASSFISH_USER = dataverse
GLASSFISH_DIRECTORY = /usr/local/payara6
GLASSFISH_ADMIN_USER = admin
GLASSFISH_ADMIN_PASSWORD = admin
GLASSFISH_HEAP = 2048
GLASSFISH_REQUEST_TIMEOUT = 1800

[database]
POSTGRES_ONLY = false
POSTGRES_SERVER = postgres
POSTGRES_PORT = 5432
POSTGRES_DATABASE = dvndb
POSTGRES_USER = dvnapp
POSTGRES_PASSWORD = dvnapp123
POSTGRES_ADMIN_PASSWORD = postgres

[system]
ADMIN_EMAIL = xuweihong.cn@change.me
MAIL_SERVER = smtp:25
SOLR_LOCATION = solr:8983

[rserve]
RSERVE_HOST = rserve
RSERVE_PORT = 6311
RSERVE_USER = rserve
RSERVE_PASSWORD = rserve

[doi]
DOI_USERNAME = dataciteuser
DOI_PASSWORD = datacitepassword
DOI_BASEURL = https://mds.test.datacite.org
DOI_DATACITERESTAPIURL = https://api.test.datacite.org
